#footer {
  background-color: #1c1c1c;
  flex-basis: 80px;
  width: 100%;
}

.social-icon {
  font-size: 250%;
}

@media (max-width: 575px) {
  span {
    font-size: 0.8rem;
  }
  .social-icon {
    font-size: 1.5rem;
  }
  .col-12 {
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
    padding: 0.5rem !important;
  }
  #privacy-policy-col {
    margin-top: 1.5rem;
  }
}
