#footer {
  background-color: #1c1c1c;
  height: 80px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.social-icon {
  font-size: 250%;
}

@media (max-width: 767px) {
  .social-icon {
    font-size: 150%;
  }
}
