<div id="footer" class="mt-5 d-flex justify-content-between">
  <div class="d-flex justify-content-start align-items-center p-4">
    <a href="https://www.iubenda.com/privacy-policy/54558291"
       class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe"
       title="Privacy Policy">
      Privacy Policy
    </a>
  </div>
  <div class="d-flex align-items-center p-4">
    <a class="mr-3 d-flex align-items-center" href="https://www.instagram.com/gabrimattio/" target="_blank">
      <fa-icon [icon]="instagramIcon" class="social-icon"></fa-icon>
    </a>
    <a class="ml-3 d-flex align-items-center" href="https://github.com/mattiolato98" target="_blank">
      <fa-icon [icon]="githubIcon" class="social-icon"></fa-icon>
    </a>
  </div>
  <div class="d-flex justify-content-end flex-column p-4 break-word">
    <span class="text-gray header-font">
      Gabriele Mattioli
    </span>
    <span class="text-gray header-font" style="opacity: 60%">
      P. Iva 03981270360
    </span>
  </div>
</div>
