<nav id="header-background" class="navbar navbar-dark navbar-expand-lg p-2 font-5 d-flex align-items-start shadow">
  <a routerLink="/" routerLinkActive="active" class="navbar-brand ml-3 logo-font font-7 cursor-pointer">Gabriele Mattioli</a>
  <div class="burger mr-2" style="display: none" [ngClass]="setClasses()" (click)="toggleBurger()">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

  <div @collapse class="navbar-collapse" *ngIf="burgerClicked">
    <ul class="navbar-nav d-flex align-items-center justify-content-end ml-lg-auto w-50">
      <li class="nav-item active mx-3">
        <a routerLink="/biography" routerLinkActive="active" class="nav-link navbar-text other-font cursor-pointer">
          Biografia
        </a>
      </li>
      <li class="nav-item active mx-3">
        <a routerLink="/projects" routerLinkActive="active" class="nav-link navbar-text other-font cursor-pointer">
          Progetti
        </a>
      </li>
      <li class="nav-item active mx-3">
        <a routerLink="/signing" routerLinkActive="active" class="nav-link navbar-text other-font cursor-pointer">
          Blog
        </a>
      </li>
    </ul>

  </div>
</nav>
