<nav id="navbar" class="navbar p-2 font-5 d-flex flex-column">
  <div class="row w-100">
    <div class="col d-flex justify-content-end">
      <div class="burger mr-2 p-2" style="display: none" [ngClass]="setClasses()" (click)="toggleBurger()">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
  </div>
  <div class="row h-100 align-items-center">
    <div class="col-auto d-flex justify-content-center flex-column manrope-font">
      <h1 id="hi-there" class="font-5 text-white">Ciao 👋, sono</h1>
      <h1 class="display-1 text-white-50 font-8">Gabriele Mattioli</h1>
    </div>
  </div>
</nav>
<div id="navbar-items-box" class="row justify-content-center mt-3 mb-5 p-0 mx-0">
  <div @collapse class="col-auto p-2" style="background-color: #333333; border-radius: 15px" *ngIf="burgerClicked">
    <div class="row">
      <div class="col">
        <a routerLink="/biography" routerLinkActive="active" class="nav-link navbar-text poppins-font cursor-pointer py-0">
          Biografia
        </a>
      </div>
      <div class="col">
        <a routerLink="/projects" routerLinkActive="active" class="nav-link navbar-text poppins-font cursor-pointer py-0">
          Progetti
        </a>
      </div>
      <div class="col">
        <a routerLink="/signing" routerLinkActive="active" class="nav-link navbar-text poppins-font cursor-pointer py-0">
          Blog
        </a>
      </div>
    </div>
  </div>
</div>
