<app-navbar></app-navbar>
<div class="container p-4">
  <h2 class="header-font font-7 mt-5" style="z-index: -1">Progetti personali</h2>
  <a href="https://bookcamp.pythonanywhere.com/user/login" class="flat-link" target="_blank">
    <div class="row mt-5 box-link py-4">
      <div class="col-auto">
        <img alt="" src="/assets/img/camp-favicon.png" class="img-small">
      </div>
      <div class="col text-justify">
        <h5 class="header-font font-7 mb-0">Bookcamp</h5>
        <p>
          Un nuovo modo per tenere traccia dei libri letti e condividere pensieri con le altre persone
        </p>
      </div>
    </div>
  </a>
  <hr>
  <a href="https://wallet.pythonanywhere.com/user/registration" class="flat-link" target="_blank">
    <div class="row mt-3 box-link py-4">
      <div class="col-auto">
        <img alt="" src="/assets/img/block.png" class="img-small">
      </div>
      <div class="col text-justify">
        <h5 class="header-font font-7 mb-0">Wallet</h5>
        <p>
          Un semplice portafoglio per gestire i tuoi crypto investimenti
        </p>
      </div>
    </div>
  </a>
  <hr>
  <a href="https://github.com/mattiolato98/MagicTables" class="flat-link" target="_blank">
    <div class="row mt-3 box-link py-4">
      <div class="col-auto">
        <img alt="" src="/assets/img/magic-wand.png" class="img-small">
      </div>
      <div class="col text-justify">
        <h5 class="header-font font-7 mb-0">Magic Tables</h5>
        <p>
          Un'applicazione Django per trasformare QuerySets in qualsiasi tipo di tabella
        </p>
      </div>
    </div>
  </a>
</div>

