<div id="biography" class="container p-4">
  <div class="row mt-3">
    <div class="col-md-6 col-lg-7 col-12 text-justify break-word mb-3">
      <div class="mb-6 mb-md-5 mt-md-3">
        <h3 class="header-font font-7 text-right">Chi sono</h3>
      </div>
      <p>
        Ciao, sono Gabriele, ho 23 anni e sono un software developer.
        Attualmente sono un freelance e collaboro con un'azienda nel quale mi occupo di backend
        development. Ho realizzato anche diversi progetti personali, che puoi vedere sulla mia pagina di Github.
      </p>
      <p>
        Credo molto nel <span class="font-6">potere delle idee</span> e mi piace renderle progetti reali, fornendo agli
        utenti esperienze sempre migliori.
      </p>
      <p>
        <span class="font-6">Amo leggere, viaggiare e bere caffè.</span>
      </p>
    </div>
    <div class="col-md-6 col-lg-5 col-12 ">
      <cl-image public-id="AngularGM/personal2_blzoyb.jpg" class="img-col"></cl-image>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 col-lg-5 col-12">
      <cl-image public-id="AngularGM/degree_aml2xu.jpg" class="img-col"></cl-image>
    </div>
    <div class="col-md-6 col-lg-7 col-12 break-word">
      <div class="mb-6 mb-md-5 mt-5 mt-md-3">
        <h3 class="header-font font-7">Il mio percorso</h3>
      </div>
      <div class="row d-flex align-items-start">
        <div class="col-md-3 col-5">
          <span class="h5 header-font">2012 - 2017</span>
        </div>
        <div class="col-md-9 col-7">
          <p>Ho studiato Informatica e Telecomunicazioni all'Istituto Tecnico Industriale Enrico Fermi</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-3">
        <div class="col-md-3 col-5">
          <span class="h5 header-font">2017 - 2021</span>
        </div>
        <div class="col-md-9 col-7">
          <p>Laurea Triennale in Informatica presso Unimore, Università degli studi di Modena e Reggio Emilia</p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-3">
        <div class="col-md-3 col-5">
          <span class="h5 header-font">2021 - Oggi</span>
        </div>
        <div class="col-md-9 col-7">
          <p>
            Collaboro con un'azienda che si occupa di sviluppo software e formazione, presso cui curo il lato
            backend delle applicazioni
          </p>
        </div>
      </div>
      <div class="row d-flex align-items-start mt-3">
        <div class="col-md-3 col-5">
          <span class="h5 header-font">Futuro</span>
        </div>
        <div class="col-md-9 col-7">
          <p>Inizierò la Laurea Magistrale in Informatica</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-6">
    <div class="col-md col-12 pr-md-1 py-1">
      <cl-image public-id="AngularGM/dark-library_fxogb1.jpg" style="width: 100%; height: auto; border-radius: 0%;"></cl-image>
    </div>
    <div class="col-md col-12 px-md-1 py-1">
      <cl-image public-id="AngularGM/coffee_xwt4xo.jpg" style="width: 100%; height: auto; border-radius: 0%;"></cl-image>
    </div>
    <div class="col-md col-12 pl-md-1 py-1">
      <cl-image public-id="AngularGM/reading_xrjopj.jpg" style="width: 100%; height: auto; border-radius: 0%;"></cl-image>
    </div>
  </div>
</div>

