<nav id="navbar" class="navbar navbar-dark navbar-expand-lg py-1 d-flex flex-column justify-content-start">
  <div class="row mt-5">
    <div class="col">
      <span class="navbar-brand navbar-text logo-font">Gabriele Mattioli</span>
    </div>
  </div>
  <div class="row mt-5">
    <div class="navbar-collapse col">
      <ul class="navbar-nav w-50">
        <li class="nav-item mx-5">
          <a routerLink="/biography" routerLinkActive="active" class="nav-link navbar-text other-font">
            Biografia
          </a>
        </li>
        <li class="nav-item mx-5">
          <a routerLink="/projects" routerLinkActive="active" class="nav-link navbar-text other-font">
            Progetti
          </a>
        </li>
        <li class="nav-item mx-5">
          <a routerLink="/signing" routerLinkActive="active" class="nav-link navbar-text other-font">
            Blog
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-auto mb-auto text-white">
    <h4 class="text-gray">
      Benvenuto
    </h4>
  </div>
  <div class="row mt-auto">
    <a class="mx-5" href="https://www.instagram.com/gabrimattio/" target="_blank">
      <fa-icon [icon]="instagramIcon" class="social-icon"></fa-icon>
    </a>
    <a class="mx-5" href="https://github.com/mattiolato98" target="_blank">
      <fa-icon [icon]="githubIcon" class="social-icon"></fa-icon>
    </a>
  </div>
</nav>
